# Auto detect text files and perform LF normalization
* text=auto
poly_data/extended_time_series_data.csv filter=lfs diff=lfs merge=lfs -text
poly_data/extended_time_market_data.csv filter=lfs diff=lfs merge=lfs -text
